@font-face {
  font-family: "Helvetica Neue LT Pro 47 Light Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 47 Light Condensed"),
    url("HelveticaNeueLTProLtCn.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 47 Light Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 47 Light Condensed Oblique"),
    url("HelveticaNeueLTProLtCnO.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 57 Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 57 Condensed"),
    url("HelveticaNeueLTProCn.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 57 Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 57 Condensed Oblique"),
    url("HelveticaNeueLTProCnO.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 67 Medium Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 67 Medium Condensed"),
    url("HelveticaNeueLTProMdCn.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 67 Medium Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 67 Medium Condensed Oblique"),
    url("HelveticaNeueLTProMdCnO.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 77 Bold Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 77 Bold Condensed"),
    url("HelveticaNeueLTProBdCn.woff") format("woff");
}

@font-face {
  font-family: "Helvetica Neue LT Pro 77 Bold Condensed Oblique";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue LT Pro 77 Bold Condensed Oblique"),
    url("HelveticaNeueLTProBdCnO.woff") format("woff");
}

body {
  background-color: #f4f7fc;
}

footer {
  background-color: #bbc1d1;
}
.navbar {
  background-color: transparent !important;
}

.btn-primary {
 background-color: #1c2f67 !important; 
 border-radius: 2px !important;
 padding: 10px 32px 10px 32px !important;
}

.login-icon {
  background-repeat: no-repeat !important;
  background-image: url("icons/person-circle.svg") !important;
  background-position: 12px center !important;
}

.bg-primary {
  background-color: #1c2f67 !important; 
}

.bg-secondary {
  background-color: #e8eaf0 !important;
}

.bg-transparent {
  background-color: #0c23618f !important;
}

.bg-klima {
  background-repeat: no-repeat !important;
  background-image: url("../icons/card-example.png") !important;
  background-position: center !important;
}

.text-primary {
  color: #1c2f67 !important;
}

.text-secondary {
  color: #f4f7fc !important;
}

.text-alert {
  color: #e40521 !important;
}

.text-light {
  color: #e8eaf0 !important;
  opacity: 0.64;
}

.nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #1c2f67;
}

ul {
  list-style-type: none;
}



.font-weight-bold {
  font-family: HelveticaNeueLTProBlk !important;
  src: url("../font/HelveticaNeueLTProBlk.woff") !important;
}

.font-weight-bolder {
  font-family: Helvetica;
}

.icon-arrow-right {
  background-repeat: no-repeat !important;
  background-image: url("../icons/arrow-right.svg") !important;
  background-position: center !important;
}

.icon-mini-pre {
  background-repeat: no-repeat !important;
  background-image: url("../icons/mini-pre.svg") !important;
  background-position: 56px 29px !important;
}

.icon-vertical-line {
  background-repeat: no-repeat !important;
  background-image: url("../icons/vertical-line.svg") !important;
  background-position: center !important;
}

.title-bg {
  background-image: none!important;
}

.h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}

.h2 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
}

.searchbar{
  margin-top: 2%;
  height: 60px;
  background-color: #1c2f67;
  border-radius: 4px;
  padding: 10px !important;
  position: relative;
  margin-top: -1.7%;
  }


  .search_input{
  color: #ffffff;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 200px;
  transition: width 0.4s linear;
  }

  

  .searchbar:hover > .search_icon{
  background: #ffffff;
  color: #1c2f67;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  color:#ffffff;
  text-decoration: none;
  }



@media screen and (min-width: 720px) {
  .title-bg {
    background-repeat: no-repeat !important;
    background-image: url("../icons/main-img.png") !important;
    background-position: right center !important;
    height: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .h1 {
    font-size: 64px;
    line-height: 68px;
  }

  .h2 {
    font-size: 48px;
    line-height: 63px;
  }
}

@media screen and (min-width: 1920px) {
}
