<!-- multilist compomponent underconstruction for BS5! -->
<div class="d-none d-md-block">
  <ul class="list-inline flex-wrap flex-row d-flex w-100">
    <li class="list-inline-item list-unstyled flex-lg-fill">
      <ul class="list-unstyled">
        <li class="mb-4"><img src="assets/icons/logo-noedges.png" alt="{{ 'alt.footer.logo.pre' | translate }}" /></li>
        <li class="text-secondary">Pražská energetika, a. s.</li>
        <li class="text-secondary">Na Hroudě 1492/4</li>
        <li class="text-secondary">100 05 Praha 10</li>
      </ul>
    </li>
    <li class="list-inline-item list-unstyled flex-lg-fill">
      <ul>
        <li>
          <h4 class="h4 text-light">{{ 'footer.menu.multiElectricity.heading' | translate }}</h4>
        </li>
        <li class="text-secondary">{{ 'footer.menu.multiElectricity.items.garant' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.multiElectricity.items.classic' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.multiElectricity.items.ecostream' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.multiElectricity.items.productOverview' | translate }}</li>
      </ul>
    </li>
    <li class="list-inline-item list-unstyled flex-lg-fill">
      <ul>
        <li>
          <h4 class="h4 text-light">{{ 'footer.menu.multiGas.heading' | translate }}</h4>
        </li>
        <li class="text-secondary">{{ 'footer.menu.multiGas.items.gasFixPlus' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.multiGas.items.gasClassic' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.multiGas.items.productOverview' | translate }}</li>
      </ul>
    </li>
    <li class="list-inline-item list-unstyled flex-lg-fill">
      <ul>
        <li>
          <h4 class="h4 text-light">{{ 'footer.menu.multiServices.heading' | translate }}</h4>
        </li>
        <li class="text-secondary">{{ 'footer.menu.multiServices.items.fve' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.multiServices.items.wallBoxes' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.multiServices.items.gasBoilers' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.multiServices.items.heatPumps' | translate }}</li>
      </ul>
    </li>
    <li class="list-inline-item list-unstyled flex-lg-fill">
      <ul>
        <li>
          <h4 class="h4 text-light">{{ 'footer.menu.documents.heading' | translate }}</h4>
        </li>
        <li class="text-secondary">{{ 'footer.menu.documents.items.documents' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.documents.items.goReturn' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.documents.items.invoiceExp' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.documents.items.invoicePay' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.documents.items.recivables' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.documents.items.overpay' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.documents.items.subConnection' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.documents.items.failReport' | translate }}</li>
      </ul>
    </li>
    <li class="list-inline-item list-unstyled flex-lg-fill">
      <ul>
        <li>
          <h4 class="h4 text-light">{{ 'footer.menu.company.heading' | translate }}</h4>
        </li>
        <li class="text-secondary">{{ 'footer.menu.company.items.contacts' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.company.items.pressCenter' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.company.items.customerService' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.company.items.contactUs' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.company.items.customerCentrum' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.company.items.contactAddresses' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.company.items.recivablesReminders' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.company.items.bankConnection' | translate }}</li>
        <li class="text-secondary">{{ 'footer.menu.company.items.career' | translate }}</li>
      </ul>
    </li>
  </ul>
</div>
<!-- endif multilist compomponent underconstruction for BS5! -->
