<!-- footer compomponent underconstruction for BS5! -->
<footer class="bg-primary p-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- footer breadcrumb component - testing in progress! -->
        <ul class="float-start list-unstyled pt-3">
          <li>
            <a href=""><img src="assets/icons/mini-pre.svg" alt="malé logo PRE"></a>
          </li>
        </ul>
        <!-- endif footer breadcrumb component - testing in progress! -->
      </div>

      <app-multi-list></app-multi-list>
      <app-accordion></app-accordion>

      <!-- footer nav component underconstruction for BS5! -->
      <div class="line">
        <div class="d-flex flex-row justify-content-between flex-wrap">
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.cookies' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.copyright' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.billingInfo' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.accessibility' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.terms' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.conditions' | translate }}</a></div>
        </div>
      </div>
      <!-- endif footer nav component underconstruction for BS5! -->

      <!-- copyright component ver. 1.0 -->
      <div class="copyright text-center text-lg-start">
        <p class="text-secondary">
          <small>{{ 'footer.copyright' | translate }}</small>
        </p>
      </div>
      <!-- endif copyright component ver. 1.0 -->
    </div>
  </div>
</footer>
<!-- endif footer compomponent underconstruction for BS5! -->
