<!-- footer compomponent underconstruction for BS5! -->
<footer class="bg-primary p-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- footer breadcrumb component - testing in progress! -->
        <ul class="float-start list-unstyled pt-3">
          <li>
            <a href=""><img src="assets/icons/mini-pre.svg" alt="malé logo PRE"></a>
          </li>
        </ul>
        <!-- endif footer breadcrumb component - testing in progress! -->
      </div>

      <!-- multilist compomponent underconstruction for BS5! -->
      <div class="d-none d-md-block">
        <ul class="list-inline flex-wrap flex-row d-flex w-100">
          <li class="list-inline-item list-unstyled flex-lg-fill">
            <ul class="list-unstyled">
              <li class="mb-4"><img src="assets/icons/logo-noedges.png" alt="logo PRE" /></li>
              <li class="text-secondary">Pražská energetika, a. s.</li>
              <li class="text-secondary">Na Hroudě 1492/4</li>
              <li class="text-secondary">100 05 Praha 10</li>
            </ul>
          </li>
          <li class="list-inline-item list-unstyled flex-lg-fill">
            <ul>
              <li>
                <h4 class="h4 text-light">{{ 'footer.menu.multiElectricity.heading' | translate }}</h4>
              </li>
              <li class="text-secondary">{{ 'footer.menu.multiElectricity.items.garant' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.multiElectricity.items.classic' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.multiElectricity.items.ecostream' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.multiElectricity.items.productOverview' | translate }}</li>
            </ul>
          </li>
          <li class="list-inline-item list-unstyled flex-lg-fill">
            <ul>
              <li>
                <h4 class="h4 text-light">{{ 'footer.menu.multiGas.heading' | translate }}</h4>
              </li>
              <li class="text-secondary">{{ 'footer.menu.multiGas.items.gasFixPlus' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.multiGas.items.gasClassic' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.multiGas.items.productOverview' | translate }}</li>
            </ul>
          </li>
          <li class="list-inline-item list-unstyled flex-lg-fill">
            <ul>
              <li>
                <h4 class="h4 text-light">{{ 'footer.menu.multiServices.heading' | translate }}</h4>
              </li>
              <li class="text-secondary">{{ 'footer.menu.multiServices.items.fve' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.multiServices.items.wallBoxes' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.multiServices.items.gasBoilers' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.multiServices.items.heatPumps' | translate }}</li>
            </ul>
          </li>
          <li class="list-inline-item list-unstyled flex-lg-fill">
            <ul>
              <li>
                <h4 class="h4 text-light">{{ 'footer.menu.documents.heading' | translate }}</h4>
              </li>
              <li class="text-secondary">{{ 'footer.menu.documents.items.documents' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.documents.items.goReturn' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.documents.items.invoiceExp' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.documents.items.invoicePay' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.documents.items.recivables' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.documents.items.overpay' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.documents.items.subConnection' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.documents.items.failReport' | translate }}</li>
            </ul>
          </li>
          <li class="list-inline-item list-unstyled flex-lg-fill">
            <ul>
              <li>
                <h4 class="h4 text-light">{{ 'footer.menu.company.heading' | translate }}</h4>
              </li>
              <li class="text-secondary">{{ 'footer.menu.company.items.contacts' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.company.items.pressCenter' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.company.items.customerService' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.company.items.contactUs' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.company.items.customerCentrum' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.company.items.contactAddresses' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.company.items.recivablesReminders' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.company.items.bankConnection' | translate }}</li>
              <li class="text-secondary">{{ 'footer.menu.company.items.career' | translate }}</li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- endif multilist compomponent underconstruction for BS5! -->

      <!-- accordion component - testing in progress! -->
      <div class="accordion d-block d-md-none" id="accordionExample">
        <div class="line-t">
          <h2 class="m-auto" id="headingOne">
            <button class="accordion-button bg-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="h4">ELEKTŘINA</span>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="Elektřina"
               data-bs-parent="#accordionExample">
            <div class="accordion-body bg-primary">
              <ul class="p-0">
                <li class="text-secondary">Garant</li>
                <li class="text-secondary">Klasik</li>
                <li class="text-secondary">PREekoproud</li>
                <li class="text-secondary">Přehled produktů</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="line-t">
          <h2 class="m-auto" id="headingTwo">
            <button class="accordion-button bg-primary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span class="h4">PLYN</span>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="Plyn"
               data-bs-parent="#accordionExample">
            <div class="accordion-body bg-primary">
              <ul class="p-0">
                <li class="text-secondary">PRE plyn fix plus</li>
                <li class="text-secondary">PRE plyn klasik</li>
                <li class="text-secondary">Přehled produktů</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="line-t">
          <h2 class="m-auto" id="headingThree">
            <button class="accordion-button bg-primary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="h4">SPOLEČNOST</span>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="Společnost"
               data-bs-parent="#accordionExample">
            <div class="accordion-body bg-primary">
              <ul class="p-0">
                <li class="text-secondary">Kontakty</li>
                <li class="text-secondary">Tiskové centrum</li>
                <li class="text-secondary">Zákaznická linka</li>
                <li class="text-secondary">Kontaktujte nás</li>
                <li class="text-secondary">Zákaznické centrum</li>
                <li class="text-secondary">Kontaktní adresy</li>
                <li class="text-secondary">Pohledávky/upomínky</li>
                <li class="text-secondary">Bankovní spojení</li>
                <li class="text-secondary">Kariéra</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="line-t">
          <h2 class="m-auto" id="headingFour">
            <button class="accordion-button bg-primary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <span class="h4">SLUŽBY</span>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="Služby"
               data-bs-parent="#accordionExample">
            <div class="accordion-body bg-primary">
              <ul class="p-0">
                <li class="text-secondary">FVE</li>
                <li class="text-secondary">Wall Boxy</li>
                <li class="text-secondary">Klimatizace</li>
                <li class="text-secondary">Wall boxy</li>
                <li class="text-secondary">Plynové kotle</li>
                <li class="text-secondary">Tepelná čerpadla</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="line-t">
          <h2 class="m-auto" id="headingFive">
            <button class="accordion-button bg-primary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <span class="h4">POTŘEBUJI ZAŘÍDIT</span>
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="Potřebuji zařídit"
               data-bs-parent="#accordionExample">
            <div class="accordion-body bg-primary">
              <ul class="p-0">
                <li class="text-secondary">Dokumenty</li>
                <li class="text-secondary">Chcete přejít / vrátit se k PRE</li>
                <li class="text-secondary">Vysvětlení faktury</li>
                <li class="text-secondary">Jak zaplatit fakturu</li>
                <li class="text-secondary">Řešení pohledávek</li>
                <li class="text-secondary">Přeplatek ze záloh</li>
                <li class="text-secondary">Připojení odběru</li>
                <li class="text-secondary">Hlášení poruchy</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- endif accordion component - testing in progress! -->

      <!-- footer nav component underconstruction for BS5! -->
      <div class="line">
        <div class="d-flex flex-row justify-content-between flex-wrap">
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.cookies' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.copyright' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.billingInfo' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.accessibility' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.terms' | translate }}</a></div>
          <div><a href="" class="btn btn-link btn-sm text-white">{{ 'footer.links.conditions' | translate }}</a></div>
        </div>
      </div>
      <!-- endif footer nav component underconstruction for BS5! -->

      <!-- copyright component ver. 1.0 -->
      <div class="copyright text-center text-lg-start">
        <p class="text-secondary">
          <small>{{ 'footer.copyright' | translate }}</small>
        </p>
      </div>
      <!-- endif copyright component ver. 1.0 -->
    </div>
  </div>
</footer>
<!-- endif footer compomponent underconstruction for BS5! -->
