/**
 * Colors
 */
/* basic colors */
/* end basic colors */
/* text color */
/* end text color */
/* background color */
/* end background color */
/* buttons color */
/* end buttons color */
.footer {
  background-color: #bbc1d1; }

.copyright {
  padding: 1rem 0; }
  .copyright p {
    margin: 0; }
