<!-- searchbar version 1.0 -->
<div class="modal fade" id="searchbar" tabindex="-1" aria-labelledby="searchbar" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-fusion-900">
      <div class="modal-header">
        <button type="button" class="btn-close-white btn-close btn-big" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card card-body card-transparent card-borderless mt-5">
          <div class="form-floating">
            <input type="text" class="form-control form-control-xxl" id="searchbarInput"
                   placeholder="{{ 'searchBar.placeholder' | translate }}">
            <label for="searchbarInput">{{ 'searchBar.placeholder' | translate }}</label>
          </div>
          <p class="text-right text-white mt-3">{{ 'searchBar.description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- endif searchbar version 1.0 -->
