<!-- searchbar version 1.0 -->
<div class="modal fade" id="searchbar" tabindex="-1" aria-labelledby="searchbar" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-fusion-900">
      <div class="modal-header">
        <button type="button" class="btn-close-white btn-close btn-big" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card card-body card-transparent card-borderless mt-5">
          <div class="form-floating">
            <input type="text" class="form-control form-control-xxl" id="searchbarInput"
                   placeholder="Napište co hledáte">
            <label for="searchbarInput">Napište co hledáte</label>
          </div>
          <p class="text-right text-white mt-3">Zkuste například vyúčtování, nebo formuláře ke stažení... :)</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- endif searchbar version 1.0 -->
