/**
 * Colors
 */
/* basic colors */
/* end basic colors */
/* text color */
/* end text color */
/* background color */
/* end background color */
/* buttons color */
/* end buttons color */
.navbar {
  background-color: #bbc1d1 !important;
  padding: 0; }
  .navbar .nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.31rem;
    color: #1c2f67; }
