@import '../../../_variables.scss';

.navbar {
  background-color: $color-secondary !important;
  padding: 0;

  .nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.31rem;
    color: $color-blue;
  }
}
