/**
 * Colors
 */
/* basic colors */
$color-white: #F4F7FC;
$color-light: #e8eaf0;
$color-secondary:#bbc1d1;
$color-border-grey: #8993b0;

$color-blue: #1c2f67;
$color-blue-middle: #0c63e4;
$color-blue-light: #e7f1ff;
$color-blue-alpha: rgba(12, 35, 97, 0.56);

$color-alert: #e40521;
/* end basic colors */

/* text color */
$color-text-primary: $color-blue;
$color-text-secondary: $color-secondary;
$color-text-alert: $color-alert;
$color-text-light: $color-light;
$color-text-white: $color-white;
/* end text color */

/* background color */
$color-bg-primary: $color-blue;
$color-bg-secondary: $color-secondary;
/* end background color */

/* buttons color */
$color-btn-primary: $color-blue;
$color-btn-secondary: $color-secondary;
/* end buttons color */
