/* You can add global styles to this file, and also import other style files */
@import "variables";
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: $color-brand-light;
  font-family: "Helvetica";
  font-size: 1rem;
}

.btn-primary {
  background-color: $color-brand-blue !important;
  border-radius: 0.125rem !important;
  padding: 0.625rem 2rem!important;
}

/* backgrounds */
.bg-primary {
  background-color: $color-brand-blue !important;
}

.bg-secondary {
  background-color: $color-brand-light !important;
}

.bg-transparent > * {
  z-index: 10;
}

.bg-transparent {
  background: $color-linear-dark;
  display: block;
  position: relative;
}

.bg-transparent::after{
  content: "";
  background: $color-linear-dark;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* end background */

/* headings */
.h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2rem;
}

.h4 {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: -0.0197rem;
  text-transform: uppercase;
}
/* end headings */

/* text */
.text-primary {
  color: $color-brand-blue !important;
  z-index: 10;
}

.text-secondary {
  color: $color-brand-light !important;
  position: relative;
  z-index: 100;
}

.text-alert {
  color: #e40521 !important;
}

.text-light {
  color: $color-brand-light !important;
  opacity: 0.64;
}
/* end text */

/* forms */
.form-control-xxl {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: bolder;
}

/* ICONS */
.icon-arrow-right {
  background-image: url("/assets/icons/arrow-right.svg") !important;
  background-repeat: no-repeat;
  background-position: center !important;
}

.icon-facebook {
  background-image: url("/assets/icons/facebook.svg") !important;
  background-repeat: no-repeat;
  background-position: 3.5rem 1.8125rem !important;
}

.icon-youtube {
  background-image: url("/assets/icons/youtube.svg") !important;
  background-repeat: no-repeat;
  background-position: 3.5rem 1.8125rem !important;
}

.icon-linkedin {
  background-image: url("/assets/icons/linkedin.svg") !important;
  background: no-repeat;
  background-position: 3.5rem 1.8125rem !important;
}

.icon-vertical-line {
  background-image: url("/assets/icons/vertical-line.svg") !important;
  background-repeat: no-repeat;
  background-position: center !important;
}

/* IMGS*/
.bg-nature {
  background-image: url("/assets/images/nature.png");
}

.bg-clima {
  background-image: url("/assets/images/klima.png");
}

.bg-ecar {
  background-image: url("/assets/images/ecar.png");
}

.bg-eshop {
  background-image: url("/assets/images/eshop.png");
}

.bg-nature,
.bg-clima,
.bg-ecar,
.bg-eshop {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* end IMGS */

.title-bg {
  background-image: none !important;
}

/* CUSTOM CLASS */
.line {
  border-top: 1px solid $color-border-grey;
  border-bottom: 1px solid $color-border-grey;
  padding: 1rem 0;
}

.line-t {
  border-top: 1px solid $color-border-grey;
}

/* card */
.card-transparent {
  background: transparent;
}
.card-borderless {
  border: none;
}
/* end card */

/* modal */
.modal-content {
  background: $color-linear-dark;
}
.modal-header {
  border-bottom: none;
}
.modal .btn-close {
  height: 5rem;
  width: 5rem;
}
/* end modal */

@media screen and (min-width: 720px) {
  .title-bg {
    background-repeat: no-repeat !important;
    background-image: url("/assets/images/main-img.png") !important;
    background-position: right center !important;
    height: 31.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .h1 {
    font-size: 4rem;
    line-height: 4.25rem;
  }

  .h2 {
    font-size: 3rem;
    line-height: 3.9375rem;
  }
}

@media screen and (min-width: 1920px) {
}

