/* You can add global styles to this file, and also import other style files */
@import '_variables.scss';
@import '_mixins.scss';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: $color-light !important;
  font-family: "Helvetica";
  font-size: 1rem;
}

/* headings */
.h1, .h2, .h4 {
  font-style: normal;
  font-weight: normal;
}
.h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}
.h2 {
  font-size: 1.75rem;
  line-height: 2rem;
}
.h4 {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: -0.0197rem;
  text-transform: uppercase;
}
/* end headings */

/* fonts */
.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: bolder;
}

/* end fonts */

/* text */
.text-primary {
  color: $color-text-primary !important;
  z-index: 10;
}

.text-secondary {
  color: $color-text-secondary !important;
}

.text-white {
  color: $color-text-white !important;
  position: relative;
  z-index: 100;
}

.text-alert {
  color: $color-text-alert !important;
}

.text-light {
  color: $color-text-light !important;
  opacity: 0.64;
}
/* end text */

/* buttons */
.btn-primary {
  background-color: $color-btn-primary !important;
  border-radius: 0.125rem !important;
  padding: 0.625rem 2rem!important;
}
/* end buttons */

/* backgrounds */
.bg-primary {
  background-color: $color-bg-primary !important;
}

.bg-secondary {
  background-color: $color-bg-secondary !important;
}

.bg-transparent {
  background: rgba(12, 35, 97, 0.56);
  display: block;
  position: relative;

  &:after {
    content: "";
    background: rgba(12, 35, 97, 0.56);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  & > * {
    z-index: 10;
  }
}

.title-bg {
  background-image: none !important;
}

.bg-nature {
  background-image: url('/assets/images/nature.png');
}

.bg-clima {
  background-image: url('/assets/images/klima.png');
}

.bg-ecar {
  background-image: url('/assets/images/ecar.png');
}

.bg-eshop {
  background-image: url('/assets/images/eshop.png');
}

.bg-nature,
.bg-clima,
.bg-ecar,
.bg-eshop {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* end background */

/* forms */
.form-control-xxl {
  font-size: 2rem;
}
/* end forms */

/* list */
ul {
  list-style-type: none;
}
/* end list */

/* icons */
.icon-arrow-right {
  background-image: url('/assets/icons/arrow-right.svg') !important;
}

.icon-facebook {
  background-image: url('/assets/icons/facebook.svg') !important;
}

.icon-youtube {
  background-image: url('/assets/icons/youtube.svg') !important;
}

.icon-linkedin {
  background-image: url('/assets/icons/linkedin.svg') !important;
}

.icon-vertical-line {
  background-image: url('/assets/icons/vertical-line.svg') !important;
}
.icon-vertical-line,
.icon-arrow-right{
    background-position: center !important;
}
.icon-facebook,
.icon-youtube,
.icon-linkedin {
  background-position: 3.5rem 1.8125rem !important;
}

.icon-arrow-right,
.icon-facebook,
.icon-youtube,
.icon-linkedin,
.icon-vertical-line {
    background-repeat: no-repeat;
}

/* end icons */

/* card */
.card-transparent {
  background: transparent;
}
.card-borderless {
  border: none;
}
/* end card */

/* modal */
.modal-content {
  background: $color-blue-alpha;
}
.modal-header {
  border-bottom: none;
}
.modal {
  .btn-close {
    height: 5rem;
    width: 5rem;
  }
}
/* end modal */

/* CUSTOM CLASS */
.line {
  border-top: 1px solid $color-border-grey;
  border-bottom: 1px solid $color-border-grey;
  padding: 1rem 0;
}

.line-t {
  border-top: 1px solid $color-border-grey;
}
/* end CUSTOM CLASS */

/*  media 720px */
@media screen and (min-width: 720px) {
  .title-bg {
    background-repeat: no-repeat !important;
    background-image: url('/assets/images/main-img.png') !important;
    background-position: right center !important;
    height: 31.25rem;
  }
}
/* end media 720px */

/* media 1280px */
@media screen and (min-width: 1280px) {
  .h1 {
    font-size: 4rem;
    line-height: 4.25rem;
  }

  .h2 {
    font-size: 3rem;
    line-height: 3.9375rem;
  }
}
/* end media 1280px */

/* media 1920px */
@media screen and (min-width: 1920px) {

}
/* end media 1920px */
