<!-- tile compomponent version 1.0 for BS5! -->
<div [ngClass]="tile.background + ' bg-transparent tile-responsive'">
  <div class="card-transparent card justify-content-center h-100">
    <h3 class="h2 text-secondary">{{ tile['heading_' + lang] }}</h3>
    <p class="text-secondary">
      {{ tile['subheading_' + lang] }}
    </p>
    <a href="#" class="text-secondary text-decoration-underline mb-5">{{ 'findMoreLink' | translate }}</a>
  </div>
</div>
<!-- endif tile compomponent version 1.0 for BS5! -->
