/* tile-responsive base */
.tile-responsive {
  width: 100%;
  height: 400px;
  text-align: center;
  cursor: pointer;
}

/* tile-responsive variants for random grid */
.col-3 .tile-responsive .h2,
.col-sm-3 .tile-responsive .h2,
.col-md-3 .tile-responsive .h2,
.col-lg-3 .tile-responsive .h2,
.col-4 .tile-responsive .h2,
.col-sm-4 .tile-responsive .h2,
.col-md-4 .tile-responsive .h2,
.col-lg-4 .tile-responsive .h2 {
  font-size: 1.5rem;
}
.col-6 .tile-responsive .h2,
.col-sm-6 .tile-responsive .h2,
.col-md-6 .tile-responsive .h2,
.col-lg-6 .tile-responsive .h2 {
  font-size: 2rem;
}
.col-3 .tile-responsive .h2,
.col-sm-3 .tile-responsive .h2,
.col-md-3 .tile-responsive .h2,
.col-lg-3 .tile-responsive .h2,
.col-4 .tile-responsive .h2,
.col-6 .tile-responsive .h2,
.col-sm-4 .tile-responsive .h2,
.col-md-4 .tile-responsive .h2,
.col-lg-4 .tile-responsive .h2,
.col-sm-6 .tile-responsive .h2,
.col-md-6 .tile-responsive .h2,
.col-lg-6 .tile-responsive .h2 {
  line-height: 2rem;
  max-width: 90%;
  margin: 5% auto;
}

.col-3 .tile-responsive .text-secondary,
.col-sm-3 .tile-responsive .text-secondary,
.col-md-3 .tile-responsive .text-secondary,
.col-lg-3 .tile-responsive .text-secondary,
.col-4 .tile-responsive .text-secondary,
.col-6 .tile-responsive .text-secondary,
.col-sm-4 .tile-responsive .text-secondary,
.col-md-4 .tile-responsive .text-secondary,
.col-lg-4 .tile-responsive .text-secondary,
.col-sm-6 .tile-responsive .text-secondary,
.col-md-6 .tile-responsive .text-secondary,
.col-lg-6 .tile-responsive .text-secondary{
  max-width: 90%;
  margin: 32px auto;
}
/* end tile-responsive */
