<main class="p-3 p-md-5">
  <div class="row">
    <div class="col-12">
      <!-- old compomnent - for refactor to BS5! -->
      <div class="title-bg">
        <div class="row">
          <div class="col-12 col-md-8">
            <h1 class="h1 text-primary font-weight-bold pt-0 mt-0 pt-md-5 mt-md-5">{{ 'mainHeading.wewillTakeCareOfYour' | translate }} <span
              class="text-alert">{{ 'mainHeading.electricity' | translate }}</span>{{ 'mainHeading.blueComma' | translate }} <span class="text-alert">{{ 'mainHeading.gas' | translate }}</span>{{ 'mainHeading.blueComma' | translate }}<span
              class="text-alert">{{ 'mainHeading.electromobility' | translate }}</span> {{ 'mainHeading.or' | translate }} <span class="text-alert">{{ 'mainHeading.airConditioning' | translate }}</span>{{ 'mainHeading.blueDot' | translate }}</h1>
            <button class="btn text-primary text-decoration-underline">{{ 'mainInterested' | translate }}</button>
          </div>
        </div>
      </div>
      <!-- old compomnent - for refactor to BS5! -->
    </div>

    <div class="col-12">
      <!-- old compomnent - for refactor to BS5! -->
      <div class="bg-secondary mt-5">
        <div class="d-inline-flex align-items-center">
          <p class="text-primary m-3">{{ 'branchesText' | translate }}</p>
          <a href="#" class="text-primary text-decoration-underline">{{ 'nearestBranch' | translate }}</a>
        </div>
      </div>
      <!-- old compomnent - for refactor to BS5! -->
    </div>
  </div>
</main>

<div class="p-3 p-md-5">
  <!-- our services -->
  <div class="row">
    <div class="d-grid gap-4">

      <div class="col-12">
        <h2 class="h2">{{ 'ourServicesHeading' | translate }}</h2>
      </div>

      <ng-container *ngIf="tiles">
        <div [ngClass]="'col-' + tile.size" *ngFor="let tile of tiles">
          <!-- tile compomponent version 1.0 for BS5! -->
          <div [ngClass]="tile.background + ' bg-transparent tile-responsive'">
            <div class="card-transparent card justify-content-center h-100">
              <h3 class="h2 text-secondary">{{ tile.heading_cs }}</h3>
              <p class="text-secondary">
                {{ tile.subheading_cs }}
              </p>
              <a href="#" class="text-secondary text-decoration-underline mb-5">{{ 'findMoreLink' | translate }}</a>
            </div>
          </div>
          <!-- endif tile compomponent version 1.0 for BS5! -->
        </div>
      </ng-container>

      <!-- logo list component / responsive part underconstruction for BS5! -->
      <ul class="list-inline d-flex align-content-center flex-wrap justify-content-between">
        <li class="list-inline-item"><a href=""><img src="assets/icons/logo.svg" alt="Logo odkaz PRE distibuce" /></a></li>
        <li class="list-inline-item"><a href=""><img src="assets/icons/logo.svg" alt="Logo odkaz PRE měření" /></a></li>
        <li class="list-inline-item"><a href=""><img src="assets/icons/logo.svg" alt="Logo odkaz PRE zákaznická" /></a>
        </li>
        <li class="list-inline-item"><a href=""><img src="assets/icons/logo.svg" alt="Logo odkaz Pre servisní" /></a></li>
        <li class="list-inline-item"><a href=""><img src="assets/icons/logo.svg" alt="Logo odkaz KORMAK" /></a></li>
        <li class="list-inline-item"><a href=""><img src="assets/icons/logo.svg" alt="Logo odkaz VOLTCOM" /></a></li>
      </ul>
      <!-- endif logo list -->

    </div>
  </div>

  <!-- info compomponent underconstruction for BS5! -->
  <div class="bg-secondary card-body d-flex flex-wrap align-items-center justify-content-between">
    <span class="text-primary">{{ 'infoLine' | translate }} <span class="text-alert fw-bold">{{ 'redNumber' | translate }}</span></span>
    <span class="text-primary">{{ 'email.label' | translate }} <span class="text-alert fw-bold">{{ 'email.address' | translate }}</span></span>
    <a href="#" class="text-primary fw-bold text-decoration-underline">{{ 'listBranches' | translate }}</a>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">{{ 'followPre' | translate }}</li>
      <li class="list-inline-item">
        <a class="btn"><img src="assets/icons/facebook.svg" alt="odkaz na facebookovu stránku PRE"></a>
      </li>
      <li class="list-inline-item">
        <a class="btn"><img src="assets/icons/youtube.svg" alt="odkaz na youtube stránku PRE"></a>
      </li>
      <li class="list-inline-item">
        <a class="btn"><img src="assets/icons/linkedin.svg" alt="odkaz na linkedin společnosti PRE"></a>
      </li>
    </ul>
  </div>
  <!-- endif info compomponent underconstruction for BS5! -->
</div>
