@import '../../../../_variables.scss';

/* accordion */
.accordion {
  .accordion-button {
    &:focus {
      background-color: $color-blue !important;
      color: $color-blue !important;
    }

    &:not(.collapsed) {
    color: $color-blue-middle;
    background-color: $color-blue-light;
    box-shadow: none !important;
  }

    .h4 {
      margin-bottom: 0;
      color: $color-white;
    }
  }
}

/* end accordion */
